@charset "ISO-8859-1";

.banner {
	background-color:red;
	color:white;
	font-family:arial;
	font-size:24pt;
	font-weight : bold;
	letter-spacing:5pt;
	text-align: center;
}
#photo {
	float:inside;
        position:absolute;
        display: inline-block;
}
.menu {
	background-color:#dddddd;
	font-weight : bold;
	text-align: center;
}

.body {
	font-family : verdana;
	font-size : 12pt;
}

h2 {
	color : blue;
}
table {
	border: 1px solid #666;
	width: 100%;
	margin: 20px 0 20px 0 !important;
}
th,td {
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: top;
}
thead tr {
	background-color: #999999;
}
th.sorted {
	background-color: #CCCCCC;
}
th a,th a:visited {
	color: black;
}
th a:hover {
	text-decoration: underline;
	color: black;
}
th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}
tr.odd {
	background-color: #fff
}

tr.tableRowEven,tr.even {
	background-color: #CCCCCC
}
.group-1 {
    font-weight:bold;
    padding-bottom:10px;
    border-top:1px solid black;
}/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 avr. 2020, 13:14:12
    Author     : JCMoutoh
*/

.banner {
	background-color:red;
	color:white;
	font-family:arial;
	font-size:24pt;
	font-weight : bold;
	letter-spacing:5pt;
	text-align: center;
}
.menu {
	background-color:#dddddd;
	font-weight : bold;
	text-align: center;
}

.body {
	font-family : verdana;
	font-size : 12pt;
}

h2 {
	color : blue;
}
table {
	border: 1px solid #666;
	width: 100%;
	margin: 20px 0 20px 0 !important;
        border-collapse: collapse;
}
th {
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: top;
        background-color: #4CAF50;
        color: white;      
}
td {
	border: 1px solid #ddd;
        text-align: left;
        padding: 8px      
}
tr {
	     
}

thead tr {
	background-color: #999999;
}
th.sorted {
	background-color: #CCCCCC;
}
th a,th a:visited {
	color: black;
}
th a:hover {
	text-decoration: underline;
	color: black;
}
th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}
tr.odd {
	background-color: #fff
}

tr.tableRowEven,tr.even {
	background-color: #CCCCCC
}
.group-1 {
    font-weight:bold;
    padding-bottom:10px;
    border-top:1px solid black;
}
.group-2 {
    font-style:italic;
    border-top: 1px solid black;

}
.grouped-table tr.even {
    background-color: #fff;
}
.grouped-table tr.odd {
    background-color: #fff;
}
.group-2 {
    font-style:italic;
    border-top: 1px solid black;

}
.grouped-table tr.even {
    background-color: #fff;
}
.grouped-table tr.odd {
    background-color: #fff;
}

#photo{
background : url("images/simchange.png") no-repeat fixed center center;
height: 100vh;

}
.searchbox{
   font-weight:bold;
   padding-bottom:10px;
   text-align: center;
   
}
